/* Card */
.detail__card {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
    margin-top: 60px;
}

/* Row */
.detail__row {
    display: flex;
    align-items: center;
    padding: 30px;
    border-bottom: 1px solid #eee;
}

.detail__row:last-child {
    border-bottom: none;
}

.detail__value {
    font-weight: bold;
}

/* Label */
.detail__label {
    width: 350px;
    font-size: 18px;
    color: #777;
}

.detail__label--narrow {
    width: 330px;
}

/* Date layout */
.detail__value--date {
    display: flex;
    align-items: center;
    gap: 160px;
}

/* Time layout */
.detail__value--time {
    display: flex;
    align-items: center;
    gap: 60px;
}

.detail__time {
    padding:  0 20px;
}

/* Separator */
.detail__separator {
    margin: 0;
}

/* Caution statement */
.detail__note {
    margin-top: 15px;
    font-size: 16px;
    font-weight: bold;
    color: red;
    text-align: right;
}

/* Textarea */
.detail__textarea {
    width: 300px;
    height: 60px;
    padding: 6px;
    resize: none;
    border: 1px solid #d9d9d9;
    border-radius: 3px;
}

/* Button area */
.detail__button-wrapper {
    text-align: right;
    margin-top: 40px;
}

/* Button */
.detail__button {
    background-color: #000;
    color: #fff;
    padding: 8px 30px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.detail__button--disable {
    color: #5e5d5d;
}

/* input */
.detail__input-time {
    width: 75px;
    height: 15px;
    padding: 5px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.detail__input-time::-webkit-calendar-picker-indicator {
    display: none;
}

/* error */
.detail__error {
    margin-top: 8px;
    font-size: 14px;
    color: red;
}