/* Header */
.list__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    background-color: #fff;
    padding: 15px 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

/* Month */
.list__month {
    font-size: 18px;
    font-weight: 600;
}

/* Navigation button */
.list__nav-btn {
    background: none;
    border: none;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #8a8a8a;
    text-decoration: none;
}

.fa-arrow-left{
    margin-right: 3px;
}

.fa-arrow-right{
    margin-left: 3px;
}

/* Table wrapper */
.list__table-wrapper {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    border: 1px solid #e5e5e5;
}

/* Table */
.list__table {
    width: 100%;
    border-collapse: collapse;
}

/* Table header */
.list__th {
    background-color: #fff;
    padding: 16px;
    font-size: 17px;
    letter-spacing: 2px;
    color: #777;
    font-weight: bold;
    border-bottom: 2px solid #ccc;
}

.list__th--date {
    padding-right: 75px;
}

.list__th--name{
    padding-left: 20px;
}


.list__th--detail {
    padding-right: 80px;
}

/* Table data */
.list__td {
    padding: 18px;
    font-size: 15px;
    font-weight: bold;
    color: #777;
    text-align: center;
    border-bottom: 1px solid #eee;
    letter-spacing: 2px;
}

.list__td--detail {
    padding-right: 80px;
}

/* Remove border from last row */
.list__table tr:last-child .list__td {
    border-bottom: none;
}

/* Row hover */
.list__table tr:hover {
    background-color: #fafafa;
}

/* Detail link */
.list__link {
    color: #000;
    text-decoration: none;
    font-weight: 700;
}

/* Hover */
.list__link:hover {
    text-decoration: underline;
}

/* Tabs */
.list__tabs {
    display: flex;
    gap: 55px;
    border-bottom: 1px solid #000;
    margin-bottom: 45px;
    margin-top: 60px;
}

/* Tab */
.list__tab {
    padding-bottom: 18px;
    padding-left: 50px;
    text-decoration: none;
    font-size: 16px;
    color: #777;
    cursor: pointer;
    position: relative;
}

/* Active */
.list__tab--active {
    color: #000;
    font-weight: 600;
}

/* Button area */
.list__actions {
    text-align: right;
    margin-top: 40px;
}

/* Button */
.list__button {
    background-color: #000;
    color: #fff;
    padding: 10px 25px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    text-decoration: none;
}